:root {
  --yt-clr: hsl(0, 0%, 100%);
  --yt-ish-clr: hsl(240, 20%, 97%);
  --gy-ish-clr: hsla(0, 100%, 0%, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--yt-ish-clr);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.main-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  flex-wrap: wrap;
  gap: 50px;
}

.main-button-wrapper button {
  background-color: var(--yt-ish-clr);
  color: hsl(0, 0%, 50%);
  width: 120px;
  height: 120px;
  font-size: 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 8px 8px 8px var(--gy-ish-clr),
  -8px -8px 8px var(--yt-clr);
}

.main-button-wrapper button.active {
  box-shadow: 8px 8px 8px var(--gy-ish-clr) inset,
  -8px -8px 8px var(--yt-clr) inset;
}

.js-result-info {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.js-result-info span {
  color: lightblue;
  text-transform: capitalize;
}

.js-result-info span:last-child {
  color: red;
}

.js-reset-button {
  background-color: hsl(0, 0%, 86%);
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}